.cabinet{
	margin: 5px;
}
.panel-body{
	padding-bottom: 1px;
	padding-top: 1px; 
}
.panel-body>table>tr>td{
}
.panel-body>table{
	width: 100%;
}
.s_price{
	font-size: 20px;
	font-weight: bold;
}
.o_price{
	text-decoration: line-through;
}
.discount{
	font-size: 30px;
	font-weight: bold;
	color: red;
	vertical-align: bottom;
}
.popular{
	font-size: 20px;
	color: orange;
}
.piece{
	text-align: center;
	table-layout: fixed;
	width: 100%;
}
.product-body{
	cursor: pointer;	
}
td{
	text-align: center;
}
#content{
	text-align: center;
}
.status-group{
	background-color: #AAAAAA;
}
.status-group:hover{
	background-color: #FFAAAA;	
}
.status-nongroup{
	background-color: #000000;
}
.status-nongroup:hover{
	background-color: #00AA00;
}