.cabinet{
	margin: 5px;
}
.panel-body{
	padding-bottom: 1px;
	padding-top: 1px; 
}
.panel-body>table>tr>td{
}
.panel-body>table{
	width: 100%;
}
.s_price{
	font-size: 30px;
	font-weight: bold;
}
.o_price{
	text-decoration: line-through;
}
.discount{
	font-size: 40px;
	font-weight: bold;
	color: red;
}
.popular{
	font-size: 20px;
	color: orange;
}
.piece{
	text-align: center;
	table-layout: fixed;
	width: 100%;
}
.product-body{
	cursor: pointer;	
}
.page_button{
	text-align: center;
}