				



				body {
					text-align: right;
					font-family: 微軟正黑體;
					/*font-weight: 700;*/
				    background-color: #FFFFEB;
					/*background-image: url("");
					background-repeat: no-repeat;
					background-position: center center;
					background-attachment: fixed;*/
				}
				.space
				{
					height: 65px;
				}
				.left
				{
					height: 700px;
				}
				.tittle {
				  height: 90px;
				  line-height: 90px;
				  color: #000;
				  text-align: center;
				  font-size: 30px;
				  font-family: 微軟正黑體;
				  font-weight: 300px;
				}
				.subtittle
				{
					line-height: 45px;
					height: 45px;
					font-size: 25px;
					text-align: center;
					font-weight: 200px;
				}
				.maintable
				{
				  border-collapse: collapse;
				  border-style: double;
				  border-width: 3px;
				  height: 637px;
				  vertical-align: middle;
				  text-align: center;
				  background: ;
				}
				.content
				{
				  text-align: center;

				}
				.td_left
				{
					height: 607px;
				}
				.td1
				{
				  height: 41px;
				  border-collapse: collapse;
				  border-style:  ridge;
				  border-width: 0px;
				  border-color:  #AAAAAA;
				  text-align: right;
				  vertical-align: middle;
				  }
				.td2
				{
				  border-collapse: collapse;
				  border-style:  ridge;
				  border-width: 0px;
				  border-color:  #AAAAAA;
				  text-align: left;
				  vertical-align: middle;
				}
				.td3
				{
				  border-width: 3px;
				  text-align: center;
				  vertical-align: middle;
				  height: 50px;
				}
				.td4
				{
					text-align: center;
					vertical-align: middle;
					font-size: 16px;
					font-weight: 100px;

				}